<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div style="margin: 0 auto; width: 400px">
      <h1>Sending emails with Go</h1>
      <img style="width: 100%" src="cid:gopher.png" alt="gopher" />
      <p style="font-size: 1.5rem">
        This email was sent using
        <span style="font-style: italic; font-weight: bold">Go</span>
      </p>
      <p style="font-size: 1.5rem">
        It uses HTML templates to build the body of the message
      </p>
    </div>
  </body>
</html>
